* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: grid;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #555;
  margin-top: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  min-width: 325px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

input[type='text'],
input[type='password'],
input[type='file'] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='text']:focus,
input[type='password']:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}

button:hover {
  background-color: #0056b3;
}

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

select {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

#folder-select {
  width: 100%;
}

.folder-move {
  width: 40%;
  margin-bottom: 10px;
}

#folder-actions > {
  display: flex;
  justify-content: space-between;
}

#folder-actions > button {
  width: 48%;
}

#file-list button {
  margin-bottom: 10px;
  width: 100%;
  background-color: red;
}

#file-list button:hover {
  background-color: darkred;
}

li {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

p {
  margin: 3px 0px;
}
